<footer class="bg-[#eaf2f8] text-[#34495E] py-2 px-4 w-full shadow-[0_-2px_4px_-1px_rgba(0,0,0,0.1)] relative z-20">
  <div class="max-w-7xl mx-auto flex flex-col md:flex-row justify-between items-center gap-2 md:gap-0 text-sm">
    
    <div class="flex items-center">
      <img alt="Logo System" class="h-8 w-8 rounded-full hover:scale-110 transition-transform">
    </div>

    <div class="text-center font-medium opacity-90 order-last md:order-0">
      <p>&copy; {{ currentYear }} System - Versión 1.0</p>
    </div>

    <div class="flex items-center font-semibold tracking-wide">
      <mat-icon class="text-blue-600 mr-1 scale-75">phone</mat-icon>
      
      <a href="tel:+573104152923" class="hover:text-blue-600 transition-colors">
        Tel
      </a>
    </div>

  </div>
</footer>