SECRET_KEY_JWT=tu_clave_secreta_jwt_aqui
SECRET_KEY_REFRESH=tu_clave_secreta_refresh_aqui

# Base de datos (Opcional si se usa modo Mock)
DB_TYPE=mysql+pymysql
DB_USER=root
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=3306
DB_NAME=core_db
USE_MOCK_DATA=true
